<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Les applications</h2>
<a href="/choix-ajout">Ajouter une application</a> <a href="/">Retour à l'acceuil</a>
<article>
    {% for application in base %}
        <div>
            <p >nom: {{application.nom}} logo: <img src="{{application.logo.url}}"> utilisateur: {{application.utilisateur}} serveur : {{application.serveur}}</p>
        <a href="/update-application/{{t.id}}">Mettre à jour</a><a href="/delete-application/{{t.id}}">Supprimer</a>
        </div>
    {% endfor %}
</article>
</body>
</html>