{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SAE23 | Upload de fichier</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}">
</head>
<body>
<form id="msform" method="post" action="/upload/" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <h2 class="fs-title">Ajout application avec un fichier .TXT: <br><br> 1ère ligne: Nom <br><br>2ème ligne : id serveur de lancement <br><br>3ème ligne : id de l'utilisateur <br></h2>
    <input type="file" name="fileToUpload" accept=".txt">
    <a href="/affiche-application"><input type="button" name="previous" class="previous action-button" value="🔙" /></a></li>
    <input type="submit" value="Envoyer"\>
  </fieldset>
</form>
</body>
</html>

