<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2> Modification d'application</h2>
    <form method="post" action="/update-application/{{id}}/">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Modifier"\>
    </form>
</body>
<a href="/">Retour à l'acceuil</a>
</html>

{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SAE23 | Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}">
</head>
<body>
<form id="msform" method="post" action="/update-application/{{id}}/">
  {% csrf_token %}
  <fieldset>
    <h2 class="fs-title">Modification d'application</h2>
    {{ form.as_ul }}
    <a href="/affiche-application"><input type="button" name="previous" class="previous action-button" value="🔙" /></a></li>
    <input type="submit" value="Modifier"\>
  </fieldset>
</form>
</body>
</html>
