{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SAE23 | Services</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}">
</head>
<body>
<form id="msform" method="post" action="/traitement-ajout-service/" enctype="multipart/form-data">
  <fieldset>
    <h2 class="fs-title">Les services</h2>
    <a href="/ajout-service"><input type="button" name="previous" value="Ajouter d'un service" /></a> 
    <a href="/"><input type="button" name="previous" value="Retour à l'acceuil" /></a>
    <article>
        {% for t in base %}
            <div>
                <p>############<br>
                    
                    <br>numero : {{t.id}} 
                    <br>nom: {{t.nom}}
                    <br>serveur de lancement: {{t.serveur_lancement}}
                    <br>date de lancement: {{t.date_lancement|date:"d/m/Y" }}
                    <br>espace mémoire utilisé: {{t.espace_memoire_utilise}}
                    <br>espace de stockage: {{t.memoire_vive_necessaire}}<br><br>
                    
                </p>
                <a href="/update-service/{{t.id}}"><input type="button" name="previous" class="previous action-button" value="Mettre à jour" /></a>
                <a href="/delete-service/{{t.id}}"><input type="button" name="previous" class="previous action-button" value="Supprimer" /></a>
            </div>
        {% endfor %}
    </article>
  </fieldset>
</form>
</body>
</html>