<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utilisateur</title>
</head>
<body>
<h2> Nos Utilisateurs</h2>
<a href="/ajout-utilisateur">Ajouter un utilisateur</a> <a href="/">Retour à l'acceuil</a>
<article>
    {% for t in base %}
        <div>
            <p> l'utilisateur numéro {{t.id}} s'appelle {{t.nom}} {{t.prenom}} et son mail est : {{t.email}} </p>
            <a href="/update-utilisateur/{{t.id}}">Mettre à jour</a><a href="/delete-utilisateur/{{t.id}}">Supprimer</a>
        </div>
    {% endfor %}
</article>
</body>
</html>