{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SAE23 | Utilisateur</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}">
</head>
<body>
<form id="msform" method="post" action="/traitement-ajout-utilisateur/">
  {% csrf_token %}
  <fieldset>
    <h2 class="fs-title">Ajouter un utilisateur</h2>
    {{ form.as_ul }}
    <a href="/affiche-utilisateur"><input type="button" name="previous" class="previous action-button" value="🔙" /></a></li>
    <input type="submit" value="Ajouter"\>
  </fieldset>
</form>
</body>
</html>
