{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SAE23 | Utilisateur</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}">
</head>
<body>
<form id="msform" method="post" action="/traitement-ajout-utilisateur/" enctype="multipart/form-data">
  <fieldset>
    <h2 class="fs-title">Ajout de l'utilisateur avec succès</h2>
    <a href="/affiche-utilisateur"><input type="button" name="previous" class="previous action-button" value="🔙" /></a></li>
    <a href="/"><input type="button" name="previous" value="Retour à l'acceuil" /></a>
  </fieldset>
</form>
</body>
</html>
