<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bienvenue sur notre site d'administration de serveur</h1>
<div><a href="/affiche-application">Afficher les applications</a></div>
<div><a href="/affiche-serveur">afficher les serveurs</a></div>
<div><a href="/affiche-service">Afficher les services</a></div>
<div><a href="/affiche-type-serveur">Afficher les types de service</a></div>
<div><a href="/affiche-utilisateur">Afficher les utilisateur</a></div>

</body>
</html>